@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   padding: 0;
   font-family: "Nunito", sans-serif;
}

.oswald-heading {
   font-family: "Oswald", sans-serif;
}

.popup-content {
   width: 100%;
   max-width: 500px;
   padding: 20px;
}

.popup-content form {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.popup-content form input,
.popup-content textarea,
.popup-content select {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   width: 100%;
}

.popup-content .close {
   position: absolute;
   top: 10px;
   right: 19px;
}

.tooltip {
   display: flex;
   flex-direction: column;
   position: absolute;
   background: white;
   box-shadow: 1px 1px 4px #a3a3a3;
   top: -59px;
   right: 0;
   width: 150px;
   height: 60px;
}
